@model IEnumerable<DevLifeMvc.Models.IStory>
@{
    ViewData["Title"] = "Index";
}


<div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    @foreach (var item in Model)
    {
        <component type="typeof(DevLifeMvc.Components.StoryComponent)"
                   render-mode="Static" param-Story="@item" />
    }

</div>